include mixins/head.pug
include mixins/header.pug
include mixins/textBlock1.pug
include mixins/advantages.pug
include mixins/experts.pug
include mixins/servicesTabs.pug
include mixins/underKey.pug
include mixins/reviewsSlider.pug
include mixins/priceSlide.pug
include mixins/bottomForm.pug
include mixins/footer.pug
include mixins/scripts.pug

doctype 
html(lang="ru")
	+head()
	body
		+header('main')
		+textBlock1()
		+advantagesBlock()
		+expertsBlock()
		+servicesTabsBlock()
		+underKeyBlock()
		+reviewsSliderBlock()
		+priceSlideBlock()
		+bottomFormBLock()
		+footer()
		+scripts()