mixin advantagesBlock()
	section.container.advantagesBlock
		.row
			h2.title преимущества работы с нами
			p.slideCount.col-12
				span#currentItem 1
				span /
				span#maxItem
			.advantagesSlider.owl-carousel.col-lg-9.col-md-10.col-sm-8.col-8.mx-auto
				.item.d-flex.flex-column.justify-content-center.align-items-center
					img.img-fluid(src="assets/images/advantagesSlide1.png")
					p.title Оптимизация налогообложения
					p.text Работа с нами поможет сэкономить на налогах, на заработной плате штатных единиц
				.item.d-flex.flex-column.justify-content-center.align-items-center
					img.img-fluid(src="assets/images/advantagesSlide2.png")
					p.title Экономия
					p.text Работа с нами поможет сэкономить на налогах, на заработной плате штатных единиц
				.item.d-flex.flex-column.justify-content-center.align-items-center
					img.img-fluid(src="assets/images/advantagesSlide3.png")
					p.title Cоблюдение строгой конфиденциальности
					p.text Работа с нами поможет сэкономить на налогах, на заработной плате штатных единиц
				.item.d-flex.flex-column.justify-content-center.align-items-center
					img.img-fluid(src="assets/images/advantagesSlide1.png")
					p.title Cоблюдение строгой конфиденциальности
					p.text Работа с нами поможет сэкономить на налогах, на заработной плате штатных единиц
				.item.d-flex.flex-column.justify-content-center.align-items-center
					img.img-fluid(src="assets/images/advantagesSlide2.png")
					p.title Cоблюдение строгой конфиденциальности
					p.text Работа с нами поможет сэкономить на налогах, на заработной плате штатных единиц
				.item.d-flex.flex-column.justify-content-center.align-items-center
					img.img-fluid(src="assets/images/advantagesSlide3.png")
					p.title Cоблюдение строгой конфиденциальности
					p.text Работа с нами поможет сэкономить на налогах, на заработной плате штатных единиц
				.item.d-flex.flex-column.justify-content-center.align-items-center
					img.img-fluid(src="assets/images/advantagesSlide1.png")
					p.title Cоблюдение строгой конфиденциальности
					p.text Работа с нами поможет сэкономить на налогах, на заработной плате штатных единиц
				.item.d-flex.flex-column.justify-content-center.align-items-center
					img.img-fluid(src="assets/images/advantagesSlide2.png")
					p.title Cоблюдение строгой конфиденциальности
					p.text Работа с нами поможет сэкономить на налогах, на заработной плате штатных единиц
