mixin bottomFormBLock()
	section.container-fluid.bottomFormBLock
		.row
			.container
				.row
					.bottomFormWrap.d-flex.flex-column.col-xl-8.col-lg-8.col-md-10.col-sm-12.col-12.mx-auto.align-items-center
						h2 мы всегда готовы помочь
						p.description Мы всегда готовы помочь. Оставьте свой телефон и мы перезвоним вам, чтобы  бесплатно проконсультировать.
						form
							.form-group
								input.form-control(placeholder="+7(999)-999-999" type="tel")
							.form-group
								button.button.buttonCallback Получить консультацию