mixin breadCrumbsBlock()
	.breadCrumbsBlock.d-md-block.d-none
		ul.breadCrumbs
			li.breadCrumbsItem
				a.breadCrumbsItemLink(href="/") Главная
			i.separator
			li.breadCrumbsItem Бухгалтерские услуги