mixin callQuestionsBlock()
	.callQuestions
		.imgBlock
			img.img-fluid(src="/assets/images/mainBannerPhoto.png")
		p.name Н.В. Махрова
		p.position генеральный директор ООО «Бухгалтерская компания «Мета»
		p.link
			a.button.buttonCallbackTransparent Задать вопрос