mixin header()
	header.container-fluid
		.row
			.container.headerTopMenuWrap
				.row.align-items-center
					.col-4.col-xl-2.col-lg-2.col-md-2.logo
						img.img-fluid(src="assets/images/logoColor.png")
					.col-xl-5.col-lg-5.col-md-8.d-none.d-md-flex
						ul.headerTopMenu
							li.headerTopMenuItem
								a.headerTopMenuItemLink О компании
							li.headerTopMenuItem
								a.headerTopMenuItemLink Цены
							li.headerTopMenuItem
								a.headerTopMenuItemLink Новости
							li.headerTopMenuItem
								a.headerTopMenuItemLink Контакты
					.col-8.col-xl-2.col-lg-auto.col-md-2
						ul.headerSubMenu.d-flex.justify-content-sm-end.justify-content-md-start.justify-content-end
							li.headerSubMenuItem.d-md-none.d-xl-none.d-lg-none
								a.headerSubMenuItemLink.button.headerDropdownMenuButton#headerDropdownMenuButton
								ul.headerDropdownMenuWrap
									li.headerDropdiwnMenuItemMain
										a.headerDropdiwnMenuItemMainLink бухгалтерские услуги
										ul.headerDropdownMenuInner
											li.headerDropdownMenuInnerItem
												a.headerDropdownMenuInnerItemLink Бухгалтерское сопровождение фирм
											li.headerDropdownMenuInnerItem
												a.headerDropdownMenuInnerItemLink Восстановление учета
											li.headerDropdownMenuInnerItem
												a.headerDropdownMenuInnerItemLink Передача отчетности
											li.headerDropdownMenuInnerItem
												a.headerDropdownMenuInnerItemLink Сверка с МИФНС, ПФ и ФСС
											li.headerDropdownMenuInnerItem
												a.headerDropdownMenuInnerItemLink нулевая отчетность
									li.headerDropdiwnMenuItemMain
										a.headerDropdiwnMenuItemMainLink налоговое консультирование
										ul.headerDropdownMenuInner
											li.headerDropdownMenuInnerItem
												a.headerDropdownMenuInnerItemLink Декларация 3-НДФЛ
											li.headerDropdownMenuInnerItem
												a.headerDropdownMenuInnerItemLink Камеральные проверки
											li.headerDropdownMenuInnerItem
												a.headerDropdownMenuInnerItemLink Выездная налоговоя проверка
									li.headerDropdiwnMenuItemMain
										a.headerDropdiwnMenuItemMainLink дополнительные услуги
										ul.headerDropdownMenuInner
											li.headerDropdownMenuInnerItem
												a.headerDropdownMenuInnerItemLink.subCat Онлайн услуги
												ul.headerDropdownMenuInnerSub
													li.headerDropdownMenuInnerSubItem
														a.headerDropdownMenuInnerSubItemLink Форма заказа для подготовки сдачи нулевой отчетности
													li.headerDropdownMenuInnerSubItem
														a.headerDropdownMenuInnerSubItemLink Форма для регистрации ООО/ИП
													li.headerDropdownMenuInnerSubItem
														a.headerDropdownMenuInnerSubItemLink Калькулятор услуг
											li.headerDropdownMenuInnerItem
												a.headerDropdownMenuInnerItemLink.subCat Юридические услуги
												ul.headerDropdownMenuInnerSub
													li.headerDropdownMenuInnerSubItem
														a.headerDropdownMenuInnerSubItemLink Регистрация юридических лиц
													li.headerDropdownMenuInnerSubItem
														a.headerDropdownMenuInnerSubItemLink Открытие р/с
													li.headerDropdownMenuInnerSubItem
														a.headerDropdownMenuInnerSubItemLink Выписка из ЕГРЮЛ
													li.headerDropdownMenuInnerSubItem
														a.headerDropdownMenuInnerSubItemLink Внесение изменений в ЕГРЮЛ
													li.headerDropdownMenuInnerSubItem
														a.headerDropdownMenuInnerSubItemLink Регистрация филиалов
													li.headerDropdownMenuInnerSubItem
														a.headerDropdownMenuInnerSubItemLink Реорганизация предприятий
													li.headerDropdownMenuInnerSubItem
														a.headerDropdownMenuInnerSubItemLink Ликвидация юр. лица
											li.headerDropdownMenuInnerItem
												a.headerDropdownMenuInnerItemLink Для начинающих предпринимателей
											li.headerDropdownMenuInnerItem
												a.headerDropdownMenuInnerItemLink Кадровое делопроизводство
											li.headerDropdownMenuInnerItem
												a.headerDropdownMenuInnerItemLink Почтово-секретарское обслуживание
											li.headerDropdownMenuInnerItem
												a.headerDropdownMenuInnerItemLink Курьерские услуги
							li.headerSubMenuItem
								a.headerSubMenuItemLink.button.headerPhoneButton
							li.headerSubMenuItem
								a.headerSubMenuItemLink.button.headerTelegramButton
					.col-xl-3.col-lg-auto.d-none.d-lg-flex.flex-column.headerContactBlock.text-right
						p.phone +7 (812)
							span  685-58-50
						p.address ул. Большая Посадская, д. 16
			.container-fluid.headerFixedLine.d-none.d-md-block
				.row
					.container
						.row.align-items-center
							.d-none.logo
								img.img-fluid(src="assets/images/logoWhite.png")
							.d-none
								ul.headerFixedMenuLeft
									li.headerFixedMenuLeftItem
										a.headerFixedMenuLeftItemLink О компании
									li.headerFixedMenuLeftItem
										a.headerFixedMenuLeftItemLink Новости
									li.headerFixedMenuLeftItem
										a.headerFixedMenuLeftItemLink Цена
									li.headerFixedMenuLeftItem
										a.headerFixedMenuLeftItemLink Контакты
							.col-12
								ul.headerFixedMenuRight.justify-content-between
									li.headerFixedMenuRightItem
										a.headerFixedMenuRightItemLink Бухгалтерские услуги
										ul.dropDownMenu
											li.dropDownMenuSectionsListItem
												a.dropDownMenuSectionsListItemLink Бухгалтерское сопровождение фирм
											li.dropDownMenuSectionsListItem
												a.dropDownMenuSectionsListItemLink Восстановление учета
											li.dropDownMenuSectionsListItem
												a.dropDownMenuSectionsListItemLink Передача отчетности
											li.dropDownMenuSectionsListItem
												a.dropDownMenuSectionsListItemLink Сверка с МИФНС, ПФ и ФСС
											li.dropDownMenuSectionsListItem
												a.dropDownMenuSectionsListItemLink нулевая отчетность
									li.headerFixedMenuRightItem
										a.headerFixedMenuRightItemLink налоговое консультирование
										ul.dropDownMenu
											li.dropDownMenuSectionsListItem
												a.dropDownMenuSectionsListItemLink Декларация 3-НДФЛ
											li.dropDownMenuSectionsListItem
												a.dropDownMenuSectionsListItemLink Камеральные проверки
											li.dropDownMenuSectionsListItem
												a.dropDownMenuSectionsListItemLink Выездная налоговоя проверка
									li.headerFixedMenuRightItem
										a.headerFixedMenuRightItemLink дополнительные услуги
										ul.dropDownMenu
											li.dropDownMenuSections
												a.dropDownMenuSectionsLink Юридические услуги
												ul.dropDownMenuSectionsList
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Регистрация юридических лиц
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Открытие р/с
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Выписка из ЕГРЮЛ
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Внесение изменений в ЕГРЮЛ
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Регистрация филиалов
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Реорганизация предприятий
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Ликвидация юр. лица
											li.dropDownMenuSections
												a.dropDownMenuSectionsLink Онлайн услуги
												ul.dropDownMenuSectionsList
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Форма заказа для подготовки сдачи нулевой	отчетности
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Форма для регистрации ООО/ИП
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Калькулятор услуг
											li.dropDownMenuSections
												ul.dropDownMenuSectionsList
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Для начинающих предпринимателей
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Кадровое делопроизводство
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Почтово-секретарское обслуживание
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Курьерские услуги
							.d-none
								ul.headerFixedSubMenu.justify-content-end
									li.headerFixedSubMenuItem
										a.button.buttonWhite.headerFixedSubMenuItemLink.headerFixedPhoneButton
									li.headerFixedSubMenuItem
										a.button.buttonWhite.headerFixedSubMenuItemLink.headerFixedTelegramButton
									li.headerFixedSubMenuItem.d-xl-none
										a.button.buttonWhite.headerFixedSubMenuItemLink.headerFixedDropdownMenuButton#headerFixedDropdownMenuButton
										ul.dropDownMenu
											li.dropDownMenuSectionsMain
												a.dropDownMenuSectionsMainLink бухгалтерские услуги 
												ul.dropDownMenu
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Бухгалтерское сопровождение фирм
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Восстановление учета
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Передача отчетности
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Сверка с МИФНС, ПФ и ФСС
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink нулевая отчетность
											li.dropDownMenuSectionsMain
												a.dropDownMenuSectionsMainLink налоговое консультирование
												ul.dropDownMenu
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Декларация 3-НДФЛ
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Камеральные проверки
													li.dropDownMenuSectionsListItem
														a.dropDownMenuSectionsListItemLink Выездная налоговоя проверка
											li.dropDownMenuSectionsMain
												a.dropDownMenuSectionsMainLink дополнительные услуги
												ul.dropDownMenu
													li.dropDownMenuSections
														a.dropDownMenuSectionsLink Юридические услуги
														ul.dropDownMenuSectionsList
															li.dropDownMenuSectionsListItem
																a.dropDownMenuSectionsListItemLink Регистрация юридических лиц
															li.dropDownMenuSectionsListItem
																a.dropDownMenuSectionsListItemLink Открытие р/с
															li.dropDownMenuSectionsListItem
																a.dropDownMenuSectionsListItemLink Выписка из ЕГРЮЛ
															li.dropDownMenuSectionsListItem
																a.dropDownMenuSectionsListItemLink Внесение изменений в ЕГРЮЛ
															li.dropDownMenuSectionsListItem
																a.dropDownMenuSectionsListItemLink Регистрация филиалов
															li.dropDownMenuSectionsListItem
																a.dropDownMenuSectionsListItemLink Реорганизация предприятий
															li.dropDownMenuSectionsListItem
																a.dropDownMenuSectionsListItemLink Ликвидация юр. лица
													li.dropDownMenuSections
														a.dropDownMenuSectionsLink Онлайн услуги
														ul.dropDownMenuSectionsList
															li.dropDownMenuSectionsListItem
																a.dropDownMenuSectionsListItemLink Форма заказа для подготовки сдачи нулевой	отчетности
															li.dropDownMenuSectionsListItem
																a.dropDownMenuSectionsListItemLink Форма для регистрации ООО/ИП
															li.dropDownMenuSectionsListItem
																a.dropDownMenuSectionsListItemLink Калькулятор услуг
													li.dropDownMenuSections
														ul.dropDownMenuSectionsList
															li.dropDownMenuSectionsListItem
																a.dropDownMenuSectionsListItemLink Для начинающих предпринимателей
															li.dropDownMenuSectionsListItem
																a.dropDownMenuSectionsListItemLink Кадровое делопроизводство
															li.dropDownMenuSectionsListItem
																a.dropDownMenuSectionsListItemLink Почтово-секретарское обслуживание
															li.dropDownMenuSectionsListItem
																a.dropDownMenuSectionsListItemLink Курьерские услуги
			.container.headerBanner
				.row
					.col-xl-3.col-lg-4.ml-lg-auto.mr-lg-0.col-md-5.ml-md-auto.mr-md-auto.d-none.d-md-block.headerBannerPhoto
						img.mx-auto.d-block.img-fluid(src="/assets/images/mainBannerPhoto.png")
						p.text.text-center Н.В. Махрова, генеральный директор
							br 
							| ООО «Бухгалтерская компания «Мета»
					.d-flex.flex-column.justify-content-between.align-items-md-center.col-xl-7.col-lg-8.ml-lg-0.mr-lg-auto.col-md-10.ml-md-auto.mr-md-auto.col-12.headerBannerText
						p.title.text-md-center Ваша бухгалтерия — наша забота!
						p.text 326 организаций доверяют ведение налоговой отчетности и бухгалтерии нашим 
							a сертифицированным специалистам
						a.button.buttonCallback.align-self-lg-baseline.align-self-center Присоединиться!
