mixin priceSlideBlock()
	section.container-fluid.priceSlideBlockWrap
		.row
			h2.col-12 Цены
		.row
			.container-fluid.priceSlideBlock
				.row
					.container
						.row
							.priceSlideWRap.col-12
								.priceSlide.owl-carousel
									.item
										.titleBlock
											p.title ОСНО/УСНО
											p.descr (доходы минус расходы)
										.activity
											p.title Вид деятельности
											p.value Услуги
										.operations
											p.title Кол-во операций по банку, руб./мес.
											select
												option до 10
												option до 20
												option до 30
										.price
											p.title Цена, руб.
											p.value 15 000 
										p.more
											a.button.buttonCallback Заказать
									.item
										.titleBlock
											p.title ЕНВД
										.activity
											p.title Вид деятельности
											p.value Любой
										.operations
											p.title Кол-во операций по банку, руб./мес.
											select
												option до 10
												option до 20
												option до 30
										.price
											p.title Цена, руб.
											p.value 10 000 
										p.more
											a.button.buttonCallback Заказать
									.item
										.titleBlock
											p.title УСНО
											p.descr (6% с дохода)
										.activity
											p.title Вид деятельности
											p.value Любой
										.operations
											p.title Кол-во операций по банку, руб./мес.
											select
												option до 10
												option до 20
												option до 30
										.price
											p.title Цена, руб.
											p.value 10 000 
										p.more
											a.button.buttonCallback Заказать
									.item
										.titleBlock
											p.title УСНО
											p.descr (6% с дохода)
										.activity
											p.title Вид деятельности
											p.value Любой
										.operations
											p.title Кол-во операций по банку, руб./мес.
											select
												option до 10
												option до 20
												option до 30
										.price
											p.title Цена, руб.
											p.value 10 000 
										p.more
											a.button.buttonCallback Заказать
