mixin reviewsSliderBlock()
	section.container.reviewsSliderBlock
		.row
			h2.col-12 отзывы
		.row
			.reviewsSliderWrap.col-xl-10.col-lg-10.col-md-10.col-sm-10.col-8.mx-auto
				.reviewsSlider.owl-carousel
					.item
						img.img-fluid(src="/assets/images/reviewsSlide1.png")
					.item
						img.img-fluid(src="/assets/images/reviewsSlide2.png")
					.item
						img.img-fluid(src="/assets/images/reviewsSlide3.png")
					.item
						img.img-fluid(src="/assets/images/reviewsSlide4.png")
					.item
						img.img-fluid(src="/assets/images/reviewsSlide1.png")
					.item
						img.img-fluid(src="/assets/images/reviewsSlide2.png")
					.item
						img.img-fluid(src="/assets/images/reviewsSlide3.png")
					.item
						img.img-fluid(src="/assets/images/reviewsSlide4.png")
		.row
			.reviewsSliderDescriptionWrap.col-xl-10.col-lg-10.col-md-10.col-sm-11.col-11.mx-auto
				.reviewsSliderDescription.owl-carousel
					.item
						p.name Ольга Николаева,
						p.company ООО «Кока Кола» 1
						p.date 12.07.2017
						p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. 
					.item
						p.name Ольга Николаева,
						p.company ООО «Кока Кола» 2
						p.date 12.07.2017
						p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. 
					.item
						p.name Ольга Николаева,
						p.company ООО «Кока Кола» 3
						p.date 12.07.2017
						p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. 
					.item
						p.name Ольга Николаева,
						p.company ООО «Кока Кола» 4
						p.date 12.07.2017
						p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. 
					.item
						p.name Ольга Николаева,
						p.company ООО «Кока Кола» 5
						p.date 12.07.2017
						p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. 
					.item
						p.name Ольга Николаева,
						p.company ООО «Кока Кола» 6
						p.date 12.07.2017
						p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. 
					.item
						p.name Ольга Николаева,
						p.company ООО «Кока Кола» 7
						p.date 12.07.2017
						p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. 
					.item
						p.name Ольга Николаева,
						p.company ООО «Кока Кола» 8
						p.date 12.07.2017
						p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. 

