mixin textBlock2(title)
	section.container.textBlock
		if title
			.row
				h2.col-12= title
		.row
			.col-12
				p Организация основана с 08.09.2006г. С 08.11.2012г. сменили название и занялись деятельностью в области права и бухгалтерского учета согласно ОКВЭД 69. В обслуживание находится более 40 организаций и индивидуальных предпринимателей как на ОСНО (общей системе налогообложении) , так и на УСНО , ЕНВД и патенте. В штате организации 6 сотрудников, в данный момент штат расширяется. 