mixin textBlock1()
	section.container.textBlock
		.row
			.col-lg-6.col-12
				p Каждый руководитель хочет быть уверенным в правильности ведения бухгалтерии и в выборе режима налогообложения. Зачастую, имея в организации бухгалтерию, порой состоящую из нескольких специалистов, руководителю приходится тратить огромное количество времени и средств на общение с налоговыми органами, составление отчетности и организации бухгалтерского учета.
				p Наша организация ООО «Мета» специализируется на оказании бухгалтерских услуг в Санкт-Петербурге, бухгалтерском обслуживании и комплексном бухгалтерском сопровождении 
			.col-lg-6.col-12
				p юридических лиц, независимо от их организационно-правовой структуры, направления деятельности и применяемой системы налогообложения. Мы поможем вам составить и сдать отчетность, если вы начали деятельность, но ещё не нашли бухгалтера. Наши специалисты восстановят бухгалтерский учет, проконсультируют при выборе налогового режима, проведут сверки с налоговыми органами и различными фондами.