mixin underKeyBlock()
	section.container-fluid.underKeyBlock
		.row
			.container
				.row
					.col-11.col-md-6
						.textBlock
							p.text Мы специализируемся на полном сопровождении "под ключ". Вам больше не нужно переплачивать штатным бухгалтерам. Как правило стоимость обслуживания в нашей компании на поверку оказывается значительно ниже, чем расходы на штатных бухгалтеров. Отправьте заявку на персональный расчет обслуживания вашей компании и убедитесь в этом сами!
					.col-11.col-md-5.ml-md-1
						.formBlock
							form
								input(type="text" name="name" placeholder="Ваше имя")
								input(type="email" name="email" placeholder="Ваш E-mail")
								button.button.buttonCallback(type="submit") Отправить заявку