// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

//Smartphone device
@media (max-width: 575px) {
	section {
		h2 {
			font-size:20px!important;
		}
	}
	header {
		.headerSubMenu {
			.headerSubMenuItem {
				&:nth-last-child(1) {
					margin-right: 0;
				}
			}
		}
	}
	.advantagesSlider {
		.owl-stage {
			.owl-item {
				.item {
					img {
						max-width:180px!important;
					}
					.text {
						opacity:1!important;
					}
				}
			}
		}
		.owl-nav {
			.owl-next,.owl-prev {
				z-index:2;
				position: absolute;
				top:85px!important;
			}
			.owl-prev {
				left:-35px!important;
			}
			.owl-next {
				right:-35px!important;
			}
		}
	}
	.expertsSlider {
		.owl-nav {
			.owl-next {
				right:15px;
			}
			.owl-prev {
				left:15px;
			}
		}
	}
	.servicesTabsBlock {
		.tabContainerWrap {
			.tab-content {
				.tab-pane {
					.owl-carousel {
						.owl-nav {
							.owl-next,.owl-prev {
								position: absolute;
								top: 8px;
							}
							.owl-next {
								right:-50px;
							}
							.owl-prev {
								left:-50px;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 576px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
	.advantagesSlider {
		.owl-nav {
			.owl-next,.owl-prev {
				top:110px!important;
			}
		}
	}
	.expertsSlider {
		.owl-nav {
			.owl-next {
				right:-45px;
			}
			.owl-prev {
				left:-45px;
			}
		}
	}
	.servicesTabsBlock {
		.tabContainerWrap {
			.tab-content {
				.tab-pane {
					.owl-carousel {
						.owl-nav {
							.owl-next,.owl-prev {
								position: absolute;
								top: 50px;
							}
							.owl-next {
								right:-50px;
							}
							.owl-prev {
								left:-50px;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.priceAddBlockWrap {
		.priceAddBlock {
			.priceAddBlockHead {
				.headCol {
					text-align:center!important;
				}
			}
			.priceAddBlockBody {
				.priceAddBlockBodyitem {
					.bodyCol {
						text-align:center!important;
					}
				}
			}
		}
	}
	.newsListWrap {
		.newsList {
			.newsListItem {
				.imgBlock {
					text-align:center;
					margin-bottom: 15px;
				}
			}
		}
	}
	.orderWorkWrap {
		background:none!important;
		padding-bottom: 0!important;
		.orderWork {
			.orderWorkItem {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
			}
		}
		.orderWorkFormWrap {
			padding-top: 30px;
			padding-bottom: 30px;
			background:linear-gradient(to right, #b9f6ed, #d5cde8);
			.title {
				text-align:left!important;
			}
		}
	}
	.priceSlideBlockWrap {
		.priceSlideBlock {
			.priceSlideWRap {
				.priceSlide {
					.owl-stage-outer {
						.owl-stage {
							.owl-item {
								filter:blur(0)!important;
							}
						}
					}
				}
			}
		}
	}
	.reviewsSliderBlock {
		.reviewsSliderWrap {
			.reviewsSlider {
				.owl-item {
					.item {
						img {
							filter:grayscale(0%)!important;
						}
					}
				}
			}
		}
		.reviewsSliderDescription {
			.owl-item {
				.item {
					.name {
						text-align:center;
					}
					.company {
						text-align:center;
					}
					.date {
						text-align:center;
					}
				}
			}
		}
	}
	.servicesTabsBlock {
		.nav-tabs {
			display: none!important;
		}
		.tabContainerWrap {
			box-shadow:none!important;
			.tab-content {
				.tab-pane {
					opacity:1!important;
					display: block!important;
					margin-bottom: 65px!important;
					&:last-child {
						margin-bottom: 0!important;
					}
					.owl-carousel {
						.owl-stage {
							.owl-item {
								.item {
									.imgBlock {}
									.textBlock {
										text-align: center;
										.description {
											display: none!important;
										}
									}
								}
							}
						}
						.owl-nav {
							position: absolute;
							width: calc(100% - 30px);
							display: block;
							height: 100%;
							z-index: -1;
							top:0;
						}
					}
				}
			}
		}
	}
	.expertsSlider {
		margin-top: 30px;
		.item {
			padding-left: 0!important;
		}
		.owl-nav {
			position: absolute;
			width: calc(100% - 30px);
			display: block;
			height: 100%;
			z-index: -1;
			.owl-next,.owl-prev {
				position: absolute;
				top: 30px;
			}
		}
	}
	.advantagesSlider {
		.owl-stage {
			.owl-item {
				.item {
					img {
						max-width:180px!important;
						margin:0;
					}
					.text {
						opacity:1!important;
					}
				}
			}
		}
		.owl-nav {
			.owl-next,.owl-prev {
				z-index:2;
				position: absolute;
			}
		}
	}
	.headerTopMenuWrap {
		padding-top: 0!important;
		padding-bottom: 0!important;
		.headerSubMenu {
			height: 75px;
			.headerSubMenuItem {
				height: 60px;
				margin-top: 15px;
				display: flex;
			}
		}
	}
	.headerBanner {
		padding-top: 50px!important;
		padding-bottom: 50px!important;
		.headerBannerText {
			.title {
				font-size: 33px!important;
				line-height: 40px!important;
			}
			.text {
				margin-bottom: 50px!important;
			}
		}
	}
	footer {
		.footerWrap {
			.searchBlock {
				text-align: center;
				input {
					
				}
			}
			.footerInfoBlock {
				.logo {
					text-align:center;
				}
				.contactInfo {
					text-align:center;	
				}
			}
			.footerMenuBlock {

			}
		}
	}
	.leftColumn {
		.priceSlideBlockWrap {
			margin-left: -15px;
			margin-right: -15px;
			width: calc(100% + 30px);
		}
	}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.leftColumn {
		.priceSlideBlockWrap {
			.priceSlideBlock {
				background:none;
				.priceSlideWRap {
					.priceSlide {
						.owl-item {
							box-shadow: 0px 0px 15px rgba(68, 30, 104, 0.3);
							border-radius: 25px;
							.item {
								border-radius:25px!important;
							}
						}
					}
				}
			}
		}
	}
	.priceAddBlockWrap {
		.priceAddBlock {
			.priceAddBlockHead {
				.headCol {
					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						padding-right: 0;
					}
				}
			}
			.priceAddBlockBody {
				.priceAddBlockBodyitem {
					.bodyCol {
					}
				}
			}
		}
	}
	footer {
		.footerWrap {
			.searchBlock {
				text-align: right;
			}
			.footerInfoBlock {
			}
			.footerMenuBlock {
				.footerMenu {
					.footerMenuItem {
						margin-bottom: 20px;
						width:calc(100% / 2);
					}
				}
			}
		}
	}
	.headerBanner {
		padding-top: 75px;
		padding-bottom: 240px;
		.headerBannerPhoto {
			.text {
				margin-bottom: 65px!important;
			}
		}
	}
	.tabContainerWrap {
		.tab-content {
			.owl-carousel {
				.owl-stage {
					display: flex;
					.owl-item {
						display: flex;
						.item {
							position: relative;
							padding-bottom: 65px;
							.buttonCallback {
								position:absolute;
								bottom:15px;
								left:0;
								width:100%;
							}
						}
					}
				}
				.owl-dots {
					margin: 35px 0 15px;
				}
				.owl-nav {
					position: absolute;
					left: 0;
					bottom: 58px;
					width: 100%;
					.owl-prev,.owl-next {
						position:absolute;
					}
					.owl-prev {
						left:25%;
					}
					.owl-next {
						right:25%;
					}
				}
			}
		}
	}
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.headerBanner {
		padding-top: 85px;
		padding-bottom: 125px;
		.headerBannerPhoto {
			.text {
				margin-bottom: 0px!important;
			}
		}
	}
}
@media (max-width: 1199px) {
	.headerFixedSubMenu {
		position: relative;
		right:15px;
		.headerFixedSubMenuItem{
			padding: 0 15px;
			margin-left: 0!important;
			&:last-child {
				position: relative!important;
				&:hover {
					background-color: #fff;
					border-top-left-radius:25px;
					border-top-right-radius:25px;
					&:after {
						content: "";
						display: block;
						width: 100%;
						height: 10px;
						background-color: #fff;
						bottom: 0;
						left: 0;
						position: absolute;
						z-index: 3;
					}
					&:before {
						content: "";
						display: block;
						position: absolute;
						bottom: 0;
						width: 25px;
						height: 25px;
						/* background-color: #fff; */
						background: radial-gradient(circle farthest-side at 0px 0px, rgba(0, 0, 0, 0) 25px, #FFF 0px);
						left: -25px;
						z-index: 2;
					}
					.headerFixedDropdownMenuButton {
						border-color: #2ce5cb;
						background-image:url(../images/menuBlueIco.png)!important;
					}
				}
			}
		}
	}
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	footer {
		.footerWrap {
			.footerInfoBlock {}
			.footerMenuBlock {
				.footerMenu {
					.footerMenuItem {
						width:calc(100% / 3);
					}
				}
			}
		}
	}
}