input,button,textarea {
	outline:none!important;
	text-align:center;
}
ul {
	padding: 0;
	list-style: none;
	margin: 0;
}
p {
	margin-bottom: 15px;
	max-width:100%;
}
.tab-content
{
	.tab-pane {
		display: none;
		&.active {
			display: block;
		}
	}
}
.owl-carousel {
	.owl-stage{
		.owl-item {}
	}
	.owl-navs {}
	.owl-dots {
		width:100%;
		text-align:center;
		.owl-dot {
			background-color:#bebebe;
			width:13px;
			height:13px;
			display: inline-block;
			border-radius: 25px;
			margin: 35px 5px 0;
			&.active {
				background-color:#40e9d2;
			}
		}
	}
}
.modal {
	.modal-dialog {
		.modal-header {
			border-bottom:0;
		}
		.modal-body {
			input, textarea {
				text-align:left;
				width: 100%;
				border: 0px solid transparent;
				border-radius: 0px;
				border-bottom: 2px solid #1d1d1d;
				padding: 7px 0;
				color: #1d1d1d;
				font-family: 'Conv_PFBEAUSANSPRO-SEBOLD';
				font-size: 16px;
				line-height: 22px;
				background-color: transparent;
			}
			textarea {
				border: 2px solid #1d1d1d;
				border-radius:15px;
				padding-left: 15px;
				padding-right: 15px;
			}
			.form-group {

			}
			textarea {
				resize:none;
			}
			input {

			}
			button {
				width:100%;
			}
		}
		.modal-footer {
			border-top:0;
		}
	}
}
.sweet-alert {
	border-radius:25px;
	box-shadow: 0px 0px 15px rgba(68, 30, 104, 0.3);
	background-image: url(../images/bottomFormBG.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: -55px -35px;
}